#result {
  display: none;
}

body {
  background-image: url(http://papers.co/wallpaper/papers.co-va91-wallpaper-triangle-fall-blue-pattern-15-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

p {
  font-size: 1.3em
}

div.transbox {
  padding: 3%;
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #ffffff;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}
